<h1>Showing All Nurses</h1>

<% @users.each do |u| %>
 <article><br />
   <% if u.nurse %>
 Name: <%= link_to(u.name, user_path(u)) %><br />
 Email: <%= u.email %><br />
 <% end %>
 </article>
<% end %>
